


<div style="position: relative;">
 <canvas id="layer1" width="700" height="700"
   style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
 <canvas id="layer2" width="700" height="700"
   style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
</div>


<ul>
  <li><label for="colorRGB">r</label></li>
  <li><input type="range" id="colorRGB" min="0" value="255" max="255" step="1"></li>
  <li><label for="colorGreen">g</label></li>
  <li><input type="range" id="colorGreen" min="0" value="255" max="255" step="1"></li>
  <li><label for="colorBlue">b</label></li>
  <li><input type="range" id="colorBlue" min="0" value="255" max="255" step="1"></li>
  <li><input type="text" id="colorInput" name="color" value="" placeholder="color"></li>
  <li><button id="btn">change color</button></li>
</ul>
<ul id='boxControls'>
  <li><label for="heightOne">heightOne</label></li>
  <li><input type="range" id="heightOne" min="0" value="255" max="500" step="1"></li>
  <li><label for="heightTwo">heightTwo</label></li>
  <li><input type="range" id="heightTwo" min="0" value="255" max="500" step="1"></li>
  <li><label for="width">width</label></li>
  <li><input type="range" id="width" min="0" value="255" max="500" step="0.5"></li>
  <li><label for="spacingTwo">widthTwo</label></li>
  <li><input type="range" id="spacingTwo" min="0" value="255" max="500" step="0.5"></li>
  <li><label for="spacing">spacing</label></li>
  <li><input type="range" id="spacing" min="0" value="20" max="100" step="10"></li>
  <li><label for="circleMode">Circle Mode</label></li>
  <li><input type="checkbox" id="circleMode"></li>
</ul>







