<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
  </head>
  <body>
    {{{body}}}










    <script src="/javascripts/loadAudio.js"></script>
  </body>
</html>
